[submodule "zlibSample/zlib"]
	path = zlibSample/zlib
	url = https://github.com/emscripten-ports/zlib.git
[submodule "commonSample/Extern/zlib"]
	path = commonSample/Extern/zlib
	url = https://github.com/emscripten-ports/zlib.git
